.tabbed > input{
  display : none;
}
.tabbed > input:not(:checked) + section > div{
  display : none;
}
.tabbed > section > h1{
  float : left;
}
.tabbed > section > div{
  float  : right;
  width  : 100%;
  margin : 2.5em 0 0 -100%;
}
.tabbed{
  float : left;
  width : 100%;
}
.tabbed > section > h1 > label{
  cursor              : pointer;
     -moz-user-select : none;
      -ms-user-select : none;
  -webkit-user-select : none;
}
.tabbed > section > div{
  box-sizing    : border-box;
  padding       : 0.5em 0.75em;
  border        : 1px solid #ddd;
  border-radius : 4px;
  box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625);
  background    : #fff;
}
.tabbed > section > h1{
  box-sizing  : border-box;
  margin      : 0;
  padding     : 0.5em 0.5em 0;
  overflow    : hidden;
  font-size   : 1em;
  font-weight : normal;
}

.tabbed > section > h1 > label{
  display                 : block;
  padding                 : 0.25em 0.75em;
  border                  : 1px solid #ddd;
  border-bottom           : none;
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
  box-shadow              : 0 0 0.5em rgba(0,0,0,0.0625);
  background              : #fff;
}
.tabbed > input:first-child + section > h1{
  padding-left : 1em;
}
.tabbed > section > div{
  position : relative;
  z-index  : 0;
}

.tabbed > input:checked + section > h1{
  position : relative;
  z-index  : 0;
}
